body, html, h1{
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 14pt;
}

h1{
	font-size: 24pt;
	font-weight: 200;
	color: #fff;
}

.scrolleffect{
	opacity: 0;
}

#span{
	font-size: 16pt;
	font-weight: 100 !important;
	color: #fff;
}


.main{
	position: absolute;
	width: 100%;
	height: 350px;
	background: url(../img/slider/torres-satelite2.png) no-repeat center;
	background-size: cover;
	top: 0;
	left: 0;
	color: #fff;
	padding-top: 100px;
}

.find{
	text-align: center;
}

.icon{
	position: relative;
	margin: 0 auto;
	margin-top: 290px;
	width: 120px;
	height: 120px;
	text-align: center;
	background-color: #ED3237;
	border-radius: 50%;
	padding: 10px;
	cursor: pointer;
	font-size: 20pt;
}

.icon i{
	font-size: 80pt;
	color: #333333;
}

.map {
	width: 100%;
	margin-top: 50px;
	margin-bottom: 50px;
}

.places-group{
	margin-bottom: 100px;
	margin-top: 100px;
}

footer{

	width: 100%;
	background-color: #222222;
	color: #fff;
	bottom: 0;
	font-size: 11pt;
	padding-bottom: 20px;
}

footer .row{
	padding-top: 20px;
}
